*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-seri;
    background-image: url('./trianglify-lowres.png');
    background-size: cover;
    background-attachment: fixed;
}
button{
    outline: none;
    border:none;
    cursor: pointer;
}
.App{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ClickMe{
    padding: 1.8rem 1.5rem;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 700;

}